* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 10px grey;
}

.background-input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    background-color: red;
}

.tittle {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.input-border {
    position: relative;
    margin: 5px 20px 20px 20px;
    width: 75%;
    height: 44px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px
}

.add-input,
.search-input {
    width: 80%;
    height: 40px;
    font-size: 36px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}

input:focus {
    border: none;
}

.add-btn {
    position: absolute;
    height: 100%;
    width: 20%;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    background-color: #0097e6;
    color: #fff;
    top: 0;
    right: 0;
}

.task-number {
    background-color: #ff4757;
    color: #fff;
    padding: 0 20px;
    font-weight: 700;
    line-height: 250%;
}

.task-list,
.search-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid red;
}


ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    line-height: 200%;
    background-color: #dfe4ea;
}

li:nth-child(even) {
    background-color: #ced6e0;
}

.remove-task-btn {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: #fff;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    transition: .3s linear;
    cursor: pointer;
}

.remove-task-btn:hover {
    transform: rotate(90deg);
}